@media only screen and (max-width: 1600px) {

	h1 {
	    font-size: 100px;
	    line-height: 120px;
	}

	h2 {
	    font-size: 64px;
	    line-height: 89px;
	}

	p {
	    font-size: 20px;
	    line-height: 32px;
	}

	.row {
		padding: 0 50px;
	}

/*-- Header --*/

	.header_site {
	    padding: 22px 0 5px 0;
	}

/*-- /Header --*/

/*-- Section 1 --*/

	.promo {
    	padding: 20px 0 30px 0;
	}

	.promo_descript h1 {
	    padding-bottom: 42px;
	}

	.promo_descript {
	    max-width: 800px;
	    padding: 39px 0 1px 77px;
	}

	.promo_descript:before {
	    width: 110%;
	    height: 100%;
	    left: -3px;
	}

	.promo_descript p {
	    font-size: 20px;
	    line-height: 32px;
	}

/*-- /Section 1 --*/

/*-- Section 2 --*/

	.article .left {
	    width: 525px;
	}

	.article .right {
	    /*width: calc(100% - 525px);*/
	    width: 720px;
	    padding-left: 80px;
	}

	.h2_wrapp_2_title:after {
	    margin-top: 48px;
	}

	.h2_wrapp_2_title h2 {
	    padding-right: 29px;
	}

	.h2_wrapp_descript {
	    max-width: 585px;
	}

	.thumb_1 .title_wrapp h3 {
	    padding-bottom: 25px;
	    font-size: 26px;
	    line-height: 28px;
	}

	.thumb_1 .title_wrapp:after {
	    height: 14px;
	    bottom: 23px;
	}

	.img_box_2 {
	    width: calc(50% - 251px);
	    height: 574px;
	    padding: 0 35px 35px 0;
	}

	.img_bg_inner_2 {
	    height: 540px;
	}

	.img_bg_2:before {
	    width: calc(100% - 70px);
	    height: calc(100% - 60px);
	    top: 22px;
	    left: 25px;
	}

	.img_bg_2:after {
	    width: calc(100% - 45px);
	    height: calc(100% - 38px);
	    top: 22px;
	    left: 26px;
	}

/*-- /Section 2 --*/

/*-- Section 3 --*/

.article_2_wrapp {
    margin: 5px 0;
}

.h2_wrapp_descript_2 {
    padding: 24px 0 0 0;
}

.items_2 {
    margin: 49px -10px;
}

.item_2 {
    padding: 7px 30px;
}

.white_bg {
    left: -23px;
 }

.benefits_slider_wrapp:before {
    width: calc(100% - 28px);
    height: calc(100% - 41px);
    top: 25px;
    left: -4px;
}

.benefits_slider_wrapp:after {
	width: calc(100% - 7px);
    height: calc(100% - 16px);
    top: 25px;
    left: -26px;
}

.benefits_slider_controls .slick-dots {
	text-align: left;
}

.benefits_slider_controls {
    bottom: 22px;
    left: 25px;
}

.slick-dots li button {
    width: 44px;
}

/*-- /Section 3 --*/

/*-- Section 4 --*/

.sect_4 {
    padding: 78px 0 62px 0;
}

.thumb_2 {
    height: 285px;
}

.thumb_2 .descript {
    padding: 10px 20px 13px 20px;
}

/*-- /Section 4 --*/

/*-- Section 5 --*/

.sect_5 {
    padding: 124px 0 12px 0;
}

.reviews_title {
    margin: 55px -14px 22px -14px;
}

.testimonial_descript p {
    font-size: 16px;
    line-height: 22px;
}

/*-- /Section 5 --*/

/*-- Section 6 --*/

.sect_6 {
    padding: 121px 0 115px 0;
}

.h2_wrapp_3 h2 {
    padding: 0 30px;
    font-size: 64px;
    line-height: 87px;
}

.h2_wrapp_3 > div:before {
    margin-top: -1px;
}

.h2_wrapp_3 > div:after {
    margin-top: -1px;
}

.h2_wrapp_3 p {
    font-size: 20px;
    line-height: 30px;
}

.thumb_table {
    padding: 26px 0 13px 0;
}

.cherry_bg {
    background-size: 620px;
}

.prices_thumbnails {
    margin: 50px -10px 28px -10px;
}

.price_thumb {
	padding: 23px 25px 25px 25px;
}

.price_val_wrapp {
    padding: 13px 0 11px 0;
}

.thumb_two_cols > div {
    padding: 1px;
}

.thumb_two_cols p {
    font-size: 18px;
    line-height: 23px;
}

.price_thumb_big {
    padding: 28px 34px 17px 34px;
}

.price_thumb_big_title {
    padding: 0 0 23px 0;
}

.price_thumb_big_title h3 {
    font-size: 30px;
    line-height: 30px;
}

.price_thumb_big_footer {
    padding-top: 12px;
}

.price_thumb_big_footer .brown_pill {
    padding: 10px;
}

/*-- /Section 6 --*/

/*-- Section 7 --*/

.contacts_article {
    margin: 85px 0 60px 0;
}

.img_box_2 {
	width: calc(50% - 76px);
    height: 591px;
    margin-top: 16px;
    padding: 0 30px 30px 0;
}

.img_bg_inner_2 {
    height: 590px;
}

.img_bg_2:before {
    width: calc(100% - 65px);
    height: calc(100% - 30px);
    top: 25px;
    left: 25px;
}

.img_bg_2:after {
    width: calc(100% - 45px);
    height: calc(100% - 5px);
    top: 25px;
    left: 26px;
}

.title_wrapp_2 h2 {
	padding: 0 0 25px 0;
    font-size: 52px;
    line-height: 62px;
}

.title_wrapp_2 p {
    padding: 17px 0;
    font-size: 20px;
    line-height: 25px;
}

/*-- /Section 7 --*/

/*-- Footer --*/

.footer_title {
    padding: 10px 0 18px 0;
}

.footer_title h2 {
    font-size: 54px;
    line-height: 70px;
}

.footer_title h2:before {
    bottom: 11px;
}

.socials_list {
    -webkit-justify-content: center;
    justify-content: center;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1240px) {

.row {
	padding: 0 25px;
}

/*-- Header --*/

.header_site .left {
    width: 230px;
}

.header_site .center {
    width: calc(100% - 540px);
}

.main_nav li {
    padding: 5px 15px;
}

/*-- /Header --*/

/*-- Footer --*/

.footer_section {
    padding: 44px 0 58px 0;
}

.footer_4_cols > div:nth-child(1) {
    width: 60%;
}

.footer_4_cols > div:nth-child(2) {
    width: 40%;
}

.footer_4_cols > div:nth-child(3) {
    width: 66%;
    padding-top: 22px;
}

.footer_4_cols > div:nth-child(4) {
    width: 34%;
    padding-top: 19px;
}

.socials_list {
	margin: 8px -11px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1124px) {

h2 {
    font-size: 54px;
    line-height: 81px;
}

.h2_wrapp_2_title h2 {
    padding-right: 19px;
}

.h2_wrapp_2_title:after {
    margin-top: 43px;
}

/*-- Header --*/

.main_nav li {
    padding: 5px 3px;
}

/*-- /Header --*/

/*-- Section 2 --*/

.article_1_wrapp {
    margin: 34px 0 20px 0;
}

.article .right {
    width: 100%;
    padding-left: 0;
}

.img_box_2 {
    top: 201px;
 }

.thumbnail_1_wrapp {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

.thumbnail_1 {
    width: 500px;
}

.thumb_1 {
	width: 100%;
    padding: 42px 0 29px 0;
}

#imgBox {
	width: calc(100% - 530px) !important;
}

/*-- /Section 2 --*/

}

@media only screen and (max-width: 1024px) {

p {
	font-size: 18px;
	line-height: 30px;
}

/*-- Section 2 --*/

.article_1_wrapp {
    margin: 34px 0 0 0;
}

.thumbnail_1 {
    width: 350px;
    margin-top: 54px;
}

#imgBox {
	width: calc(100% - 400px) !important;
}

.img_box_2 {
    width: calc(50% - 76px);
    height: 370px;
    padding: 0 25px 25px 0;
}

.img_bg_inner_2 {
    height: 350px;
}

.img_bg_2:before {
    width: calc(100% - 50px);
    height: calc(100% - 39px);
    top: 15px;
    left: 15px;
}

.img_bg_2:after {
    width: calc(100% - 30px);
    height: calc(100% - 18px);
    top: 15px;
    left: 15px;
}

/*-- /Section 2 --*/

/*-- Section 3 --*/

.h2_wrapp_descript_2 {
    padding: 8px 0 0 0;
}

.article_2 {
	min-height: auto;
}

.article_2 .left {
    max-width: 100%;
    width: 100%;
}

.article_2 .right {
	display: none;
}

.benefits_slider_resp {
	padding: 0 50px;
    margin: 10px auto;
}

.benefits_slider_wrapp {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 0;
    right: 0;
}

.items_2 {
    margin: 35px -10px;
}

.benefits_slider .slide .img_box {
    height: 440px;
}

.item_2 p {
    font-size: 18px;
    line-height: 22px;
}

.item_2 p:before {
    top: 4px;
    left: -25px;
}

.benefits_slider_controls .slick-dots {
    text-align: center;
}

.benefits_slider_controls {
    bottom: 22px;
    left: 0;
}

.benefits_slider_wrapp:before {
    width: calc(100% - 22px);
    height: calc(100% - 31px);
    top: 15px;
    left: -4px;
}

.benefits_slider_wrapp:after {
    width: calc(100% - 2px);
    height: calc(100% - 16px);
    top: 15px;
}

/*-- /Section 3 --*/

/*-- Section 6 --*/

.price_thumb {
	width: 211px;
	min-height: 367px;
}

.price_thumb_big {
	width: 409px;
	min-height: 367px;
}

.prices_thumbnails .slick-arrow {
    margin-top: -50px;
}

.prices_thumbnails .slick-next {
    right: -29px;
}

.prices_thumbnails .slick-prev {
    left: -28px;
}

/*-- /Section 6 --*/

}


@media only screen and (max-width: 900px) {

h1 {
    font-size: 66px;
    line-height: 77px;
}

.row {
	padding: 0 40px;
}

/*-- Header --*/

.header_site .center {
	display: none;
}

.header_site .right {
	display: none;
}

.respmenubtn {
    display: inline-block;
}

.main_nav_resp {
    display: block;
}

.main_nav_resp li {
    display: block;
    padding: 16px 0;
    line-height: 1;
}

.main_nav_resp li a {
    display: inline-block;
    vertical-align: top;
}

/*-- /Header --*/

/*-- Section 1 --*/

.promo_descript {
    max-width: 570px;
    padding: 39px 44px 1px 40px;
}

.promo_descript h1 {
    padding-bottom: 34px;
}

.promo_descript p {
    font-size: 18px;
    line-height: 28px;
}

.brown_pill {
    min-width: 355px;
    padding: 15px 10px 16px 10px;
    font-size: 26px;
    line-height: 32px;
}

.promo_descript:before {
    max-width: 565px;
}

.promo_descript .brown_pill {
    margin: 0 0 10px 0;
}

/*-- /Section 1 --*/

/*-- Section 4 --*/

.sect_4 {
    padding: 53px 0 50px 0;
}

.thumbnails_2_wrapp {
    margin-right: -45px;
}

.thumbnails_2 {
    margin: 36px 0 0 0;
}

.thumbnails_2 .slide {
	margin: 0;
}

.thumbnails_2 .thumb_2 {
	width: 334px;
	height: 435px;
	margin: 0 10px;
}

.thumbnails_2 .slick-slide {
	opacity: .5;
	-webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumbnails_2 .slick-current {
	opacity: 1;
}

.thumbnails_2 .slick-current + .slick-slide {
	opacity: 1;
}

.thumbnails_2 .slick-arrow {
    top: 50%;
    margin-top: -45px;
}

.thumbnails_2 .slick-prev {
	transform: rotate(-180deg);
	left: -45px;
}

.thumbnails_2 .slick-next {
    right: 4px;
}

/*-- /Section 4 --*/

/*-- Section 5 --*/

.sect_5 {
    padding: 70px 0 1px 0;
}

.reviews_title {
    margin: 41px -14px 22px -14px;
}

.logo_2_wrapp p {
    padding-top: 8px;
    font-size: 24px;
    line-height: 27px;
}

.icon_p p {
    font-size: 16px;
    line-height: 28px;
}

.count_rep {
    font-size: 50px;
    line-height: 60px;
}

.inline_2 .stars {
    margin-top: 18px;
}

.link_1 {
    font-size: 16px;
    line-height: 16px;
}

.inline_2 .link_1 {
    margin-top: 30px;
}

.inline_2 {
    margin: 0 -7px;
}

.inline_2 > div {
    padding: 0 7px;
}

.testimonial_slider {
    margin: 20px -42px 20px -10px;
}

.testimonial_slider .slick-arrow {
    margin-top: -57px;
}

.testimonial_slider .testimonial {
	width: 334px;
}

.testimonial_slider .slick-prev {
    left: -33px;
    transform: rotate(-180deg);
}

.testimonial_slider .slick-slide {
	opacity: .5;
	-webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.testimonial_slider .slick-current {
	opacity: 1;
}

.testimonial_slider .slick-current + .slick-slide {
	opacity: 1;
}

/*-- /Section 5 --*/

/*-- Section 6 --*/

.sect_6 {
    padding: 71px 0 74px 0;
}

.prices_thumbnails {
    margin: 33px -10px 26px -10px;
}

.h2_wrapp_3 h2 {
    font-size: 54px;
    line-height: 76px;
}

.h2_wrapp_3 p {
    font-size: 18px;
    line-height: 28px;
}

.tags li {
	padding: 5px 14px;
    font-size: 14px;
    line-height: 18px;
}

.tags li:after {
    width: 6px;
    height: 6px;
    top: 9px;
}

/*-- /Section 6 --*/

/*-- Section 7 --*/

.contacts_wrapp {
    padding-top: 41px;
}

.contacts_article {
    margin: 69px 0 29px 0;
}

.img_box_2_2_row {
	max-width: 1435px;
	padding: 0 40px;
	margin: 0 auto;
}

.img_box_2_2 {
	width: 100%;
	height: 465px;
	position: relative;
	top: 0;
	left: 0;
}

.img_bg_inner_2_2 {
    height: 445px;
}

.contacts_wrapp .right {
    width: 100%;
    padding: 11px 0 25px 0;
}

/*-- /Section 7 --*/

}

@media only screen and (max-width: 767px) {

/*-- Section 7 --*/

.title_wrapp_2 {
	text-align: center;
	margin-bottom: 45px;
}

.title_wrapp_2 h2 {
    padding: 0 0 20px 0;
    font-size: 46px;
    line-height: 56px;
}

.form_wrapp {
	margin: 0 auto;
}

/*-- /Section 7 --*/

/*-- Footer --*/

.logo_footer_wrapp {
	display: block;
	width: 80px;
	margin-top: 0;
}

.logo_footer_wrapp > div:nth-child(1) {
    width: 100%;
    padding-top: 0;
    text-align: center;
}

.logo_footer_wrapp > div:nth-child(2) {
    width: 100%;
    padding-top: 14px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	h1 {
	    font-size: 34px;
	    line-height: 49px;
	}

	h2 {
	    font-size: 30px;
	    line-height: 50px;
	}

	p {
	    font-size: 16px;
	    line-height: 22px;
	}

	.row {
	    padding: 0 15px;
	}

	/*-- Header --*/

	.resp_menu_nav_wrapp {
	    height: calc(100vh - 190px);
	    padding: 20px 0;
	}

	.header_site {
	    padding: 7px 0 5px 0;
	}

	.header_site .left {
	    width: 150px;
	}

	.logo {
		display: block;
	    width: 130px;
	}

	.logo img {
	    display: block;
	    width: auto;
	    height: auto;
	    max-width: 100%;
	}

	.resp_menu_title {
	    height: 75px;
	    padding-top: 30px;
	}

	.resp_menu_title .close_btn {
	    top: 36px;
	    right: 25px;
	}

	.respmenubtn {
	    top: 25px;
	    right: 30px;
	}

	.resp_menu {
	    padding: 0 10px 0 30px;
	}

	.logo_resp {
	    width: 130px;
	}

	.main_nav_resp li {
	    padding: 9px 0;
	}

	.contacts_list li a {
	    font-size: 12px;
	    line-height: 20px;
	}

	.contact_item {
		font-size: 12px;
	    line-height: 20px;
	}

	.main_nav_resp li a {
	    font-size: 18px;
	    line-height: 18px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.promo {
	    padding: 20px 0 17px 0;
	}

	.promo_descript {
	    padding: 31px 20px 1px 18px;
	}

	.promo_descript:before {
	    width: 100%;
	    left: -4px;
	}

	.promo_descript h1 {
	    padding-bottom: 22px;
	}

	.promo_descript p {
	    font-size: 16px;
	    line-height: 24px;
	}

	.brown_pill {
	    min-width: 255px;
	    font-size: 20px;
	    line-height: 25px;
	}

	.promo_descript .brown_pill {
	    top: 44px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.article_1_wrapp {
	    margin: 10px 0 0 0;
	}

	.article {
	    margin-top: 35px;
	}

	.h2_wrapp_2_title h2 {
	    padding-right: 8px;
	}

	.h2_wrapp_2_title:after {
	    margin-top: 14px;
	}

	#imgBox {
	    width: calc(100% - 15px) !important;
	}

	.img_box_2 {
	    height: 200px;
	   	position: relative;
		top: 0;
	    left: 15px;
	}

	.img_bg_2:after {
		height: calc(100% - 3px);
		top: 12px;
		left: 13px;
	}

	.img_bg_2:before {
	    width: calc(100% - 41px);
	    height: calc(100% - 16px);
	    top: 12px;
	    left: 12px;
	}

	.img_bg_inner_2 {
	    height: 200px;
	    width: 100%;
	}

	.thumbnail_1 {
	    width: 100%;
	    margin: 25px 0 0px 0;
	}

	.thumb_1 {
	    margin: 0;
	    padding: 35px 0 26px 0;
	}

	.thumb_1 .title_wrapp h3 {
	    padding-bottom: 23px;
	    font-size: 24px;
	    line-height: 28px;
	}

	.thumb_1 p {
	    font-size: 16px;
	    line-height: 24px;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.h2_wrapp h2 {
	    padding-bottom: 6px;
	}

	.items_2 {
	    margin: 18px 0 10px -4px;
	}

	.item_2 {
	    padding: 7px 0 7px 30px;
	    width: 100%;
	}

	.item_2 p {
	    font-size: 16px;
	    line-height: 22px;
	}

	.benefits_slider_resp {
		padding: 9px 15px;
	}

	.benefits_slider_wrapp {
	    max-width: calc(100% - 15px);
	    right: -15px;
	}

	.benefits_slider .slide .img_box {
	    height: 250px;
	}

	.benefits_slider_wrapp:after {
		width: calc(100% - 9px);
	    left: -18px;
	} 

	.benefits_slider_arrows .slick-arrow {
	    margin-top: -125px;
	}

	.benefits_slider_arrows .slick-prev {
	    left: 5px;
	}

	.benefits_slider_controls {
	    bottom: 17px;
	}

	.slick-dots li {
	    margin: 4px;
	}

	.slick-dots li button {
	    width: 31px;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.sect_4 {
	    padding: 21px 0 1px 0;
	}

	.h2_wrapp_center h2 {
	    padding: 8px 0;
	}

	.h2_wrapp_center p {
	    padding: 8px 0;
	}

	.thumbnails_2 .slick-next {
	    right: 49px;
	}

	.thumbnails_2 .slick-prev {
	    left: 4px;
	}

	.thumbnails_2 .slick-arrow {
	    margin-top: -24px;
	}

	.thumbnails_2 .thumb_2 {
	    width: 261px;
	    height: 370px;
	}

	.slick-arrow {
	    width: 15px;
	    height: 25px;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.reviews_title {
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    margin: 13px 0 10px 0;
	}

	.reviews_title > div {
	    padding: 0;
	}

	.logo_2 {
	    width: 107px;
	    margin-right: 15px;
	}

	.logo_2_wrapp:before {
	    bottom: 3px;
	}

	.logo_2_wrapp p {
	    padding-top: 8px;
	    font-size: 20px;
	    line-height: 27px;
	}

	.icon_p p {
	    font-size: 14px;
	    line-height: 26px;
	}

	.count_rep {
	    font-size: 32px;
	    line-height: 40px;
	}

	.inline_2 .stars {
	    margin-top: 6px;
	}

	.stars li {
	    padding: 0 1px;
	}

	.stars li img {
	    width: 14px;
	    height: 14px;
	}

	.inline_2 .link_1 {
	    margin-top: 16px;
	}

	.link_1 {
	    font-size: 14px;
	    line-height: 16px;
	}

	.inline_2 {
	    margin: 0 -3px;
	}

	.inline_2 > div {
	    padding: 0 3px;
	}

	.testimonial_slider .testimonial {
	    width: 260px;
	}

	.testimonial_slider .slick-arrow {
	    margin-top: -43px;
	    right: 33px;
	}

	.testimonial_slider .slick-prev {
	    left: 10px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.sect_6 {
	    padding: 56px 0 26px 0;
	}

	.cherry_bg {
	    background-size: 415px;
	}

	.h2_wrapp_3 > div {
	    margin-bottom: 10px;
	}

	.h2_wrapp_3 h2 {
	    font-size: 30px;
	    line-height: 60px;
	}

	.h2_wrapp_3 p {
	    font-size: 16px;
	    line-height: 26px;
	}

	.price_thumb {
	    min-height: 329px;
	    padding: 23px 20px 15px 20px;
	}

	.price_thumb_title h4 {
	    padding: 10px 0;
	    font-size: 13px;
	    line-height: 17px;
	}

	.price_thumb_title h3 {
	    padding: 8px 0;
	    font-size: 16px;
	    line-height: 23px;
	}

	.price_val_wrapp {
	    padding: 13px 0 8px 0;
	}

	.price_val_wrapp p {
	    font-size: 13px;
	    line-height: 20px;
	}

	.price_val_wrapp p.price_val {
		padding: 0;
	    font-size: 30px;
	    line-height: 40px;
	}

	.thumb_two_cols {
	    margin: 5px 0;
	}

	.thumb_two_cols p {
	    font-size: 16px;
	    line-height: 20px;
	}

	.price_thumb_footer p {
	    font-size: 13px;
	    line-height: 22px;
	}

	.price_thumb_footer .brown_pill {
		margin-top: 5px;
	}

	.price_thumb_big_title {
	    padding: 0 0 11px 0;
	}

	.price_thumb_big_title h3 {
	    font-size: 22px;
	    line-height: 28px;
	}

	.price_thumb_big_title > div:before {
	    height: 11px;
	    bottom: 8px;
	}

	.table_header {
		padding-bottom: 9px !important;
	}

	.table_header p {
	    font-size: 13px;
	    line-height: 24px;
	}

	.main_price p {
	    font-size: 16px;
	    line-height: 22px;
	}

	.thumb_table {
	    padding: 29px 0 13px 0;
	}

	.thumb_table p {
	    font-size: 16px;
	    line-height: 23px;
	}

	p.main_price_val {
	    font-size: 30px;
	    line-height: 45px;
	}

	p.main_price_val:before {
	    bottom: 7px;
	}

	.price_thumb_big {
	    min-height: 330px;
	    width: 260px;
	    padding: 28px 20px 17px 20px;
	}

	.price_thumb_big_footer .brown_pill {
	    min-width: 100% !important;
	    font-size: 20px !important;
	    padding: 15px 10px 15px 10px;
	}

	.prices_thumbnails .slick-arrow {
	    margin-top: -16px;
	}

	.prices_thumbnails .slick-prev {
	    left: 15px;
	}

	.prices_thumbnails .slick-next {
	    right: 15px;
	}

	.tags_wrapp {
		display: none;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.contacts_article {
	    margin: 55px 0 21px 0;
	}

	.title_wrapp_2 {
	    margin-bottom: 11px;
	}

	.img_box_2_2_row {
	    padding: 0 15px;
	}

	.img_box_2_2_row .img_box_2 {
	    left: 7px;
	}

	.title_wrapp_2 h2 {
	    padding: 0 0 12px 0;
	    font-size: 26px;
	    line-height: 33px;
	}

	.title_wrapp_2 p {
	    padding: 10px 0;
	    font-size: 16px;
	    line-height: 22px;
	}

	.submit_wrapp {
		text-align: center;
	}

	.submit_wrapp .brown_pill_3 {
	    margin: 5px 0;
	    min-width: 254px;
	    font-size: 20px;
	    line-height: 36px;
	}

	/*-- /Section 7 --*/

}


@media only screen and (max-width: 480px) {

	/*-- Section 3 --*/

	.benefits_slider .slide .img_box {
	    height: 200px;
	}

	.benefits_slider_arrows .slick-arrow {
	    margin-top: -93px;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.thumbnails_2 .slick-current + .slick-slide {
	    opacity: .5;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.testimonial_slider {
	    margin: 14px -28px 0 -10px;
	}

	.testimonial_slider .slick-current + .slick-slide {
	    opacity: .5;
	}

	/*-- /Section 5 --*/

}
