@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Acumin Pro";
    src: url("fonts/AcuminPro-Bold.eot");
    src: url("fonts/AcuminPro-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/AcuminPro-Bold.woff2") format("woff2"),
        url("fonts/AcuminPro-Bold.woff") format("woff"),
        url("fonts/AcuminPro-Bold.ttf") format("truetype"),
        url("fonts/AcuminPro-Bold.svg#fonts/AcuminPro-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Acumin Pro";
    src: url("fonts/AcuminPro-Italic.eot");
    src: url("fonts/AcuminPro-Italic.eot?#iefix") format("embedded-opentype"),
        url("fonts/AcuminPro-Italic.woff2") format("woff2"),
        url("fonts/AcuminPro-Italic.woff") format("woff"),
        url("fonts/AcuminPro-Italic.ttf") format("truetype"),
        url("fonts/AcuminPro-Italic.svg#fonts/AcuminPro-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Acumin Pro";
    src: url("fonts/AcuminPro-Regular.eot");
    src: url("fonts/AcuminPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/AcuminPro-Regular.woff2") format("woff2"),
        url("fonts/AcuminPro-Regular.woff") format("woff"),
        url("fonts/AcuminPro-Regular.ttf") format("truetype"),
        url("fonts/AcuminPro-Regular.svg#fonts/AcuminPro-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PF Regal Display Pro";
    src: url("fonts/PFRegalDisplayPro-Medium.eot");
    src: url("fonts/PFRegalDisplayPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/PFRegalDisplayPro-Medium.woff2") format("woff2"),
        url("fonts/PFRegalDisplayPro-Medium.woff") format("woff"),
        url("fonts/PFRegalDisplayPro-Medium.ttf") format("truetype"),
        url("fonts/PFRegalDisplayPro-Medium.svg#fonts/PFRegalDisplayPro-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PF Regal Display Pro";
    src: url("fonts/PFRegalDisplayPro-Regular.eot");
    src: url("fonts/PFRegalDisplayPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/PFRegalDisplayPro-Regular.woff2") format("woff2"),
        url("fonts/PFRegalDisplayPro-Regular.woff") format("woff"),
        url("fonts/PFRegalDisplayPro-Regular.ttf") format("truetype"),
        url("fonts/PFRegalDisplayPro-Regular.svg#fonts/PFRegalDisplayPro-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    font-family: "Acumin Pro", Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #584A45;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color: rgba(88, 74, 69, .53);}
::-moz-placeholder          {color: rgba(88, 74, 69, .53);}
:-moz-placeholder           {color: rgba(88, 74, 69, .53);}
:-ms-input-placeholder      {color: rgba(88, 74, 69, .53);}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: "PF Regal Display Pro";
    font-weight: 500;
    font-size: 130px;
    line-height: 156px;
    text-transform: capitalize;
    color: #584A45;
}

h2 {
    font-family: "PF Regal Display Pro";
    font-weight: 500;
    font-size: 96px;
    line-height: 115px;
    color: #584A45;
}

h3 {
    font-family: "PF Regal Display Pro";
    font-weight: 500;
    font-size: 34px;
    line-height: 38px;
    color: #584A45;
}

h4 {
    font-family: "Acumin Pro";
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #584A45;
}

p {
    font-family: "Acumin Pro";
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #584A45;
}

a {
    text-decoration: none;
    font-family: "Acumin Pro";
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #584A45;
}

li {
    list-style: none;
    font-family: "Acumin Pro";
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #584A45;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1435px;
    margin: 0 auto;
    padding: 0 25px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    margin-top: -253px;
    background: transparent;
    border: 1px solid transparent;
    -webkit-transition-property: box-shadow, opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow, opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow, opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow, opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow img {
    display: block;
    width: 21px;
    height: 34px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-prev {
    left: 16px;
}

.slick-prev img {
    left: -2px;
}

.slick-next {
    right: -4px;
}

.slick-next img {
    right: -6px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px 7px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 70px;
    height: 4px;
    cursor: pointer;
    background: rgba(255, 255, 255, .5);
    position: relative;
    border: none;
}

.slick-dots li.slick-active button {
    background: rgba(255, 255, 255, 1);
}

/*-- /Slick --*/

/*-- Breadcrumbs --*/

/*.breadcrumbs_wrapp {
    padding: 40px 0 20px 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

.breadcrumbs li:after {
    position: relative;
    top: -2px;
    left: 5px;
    content: "\2192";
    font-size: 13px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li a {
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li a:link,
.breadcrumbs li a:visited {
    border-bottom: 1px solid transparent;
}

.breadcrumbs li a:active,
.breadcrumbs li a.active {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li a:hover {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li:last-child a {
    pointer-events: none;
    cursor: default;
    opacity: .6;
    border-bottom: 1px solid transparent;
}*/

/*-- /Breadcrumbs --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site {
    display: flex;
    display: -webkit-flex;
    padding: 38px 0 20px 0;
}

.header_site .left {
    width: 310px;
    padding: 20px 10px 10px 0;
}

.header_site .center {
    width: calc(100% - 620px);
    text-align: center;
}

.header_site .right {
    width: 310px;
    text-align: right;
}

/*----------------*/

.main_nav_wrapp {
    display: inline-block;
    vertical-align: top;
    margin: 29px 0;
}

.main_nav li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 24px;
}

.main_nav li a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #584A45;
}

.main_nav li a span {
    padding: 0 1px;
    position: relative;
    z-index: 2;
}

.main_nav li a:before {
    width: 0;
    height: 9px;
    content: "";
    background: #F3E1D8;
    margin-top: -7px;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition-property: width;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: width;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: width;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: width;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link:before,
.main_nav li a:visited:before {
    width: 0;
}

.main_nav li a:active:before,
.main_nav li a.active:before {
    width: 100%;
}

.main_nav li a:hover:before {
    width: 100%;
}

.right_inner {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.contacts_list {
    padding: 16px 0 0 0;
}

.contacts_list li {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #584A45;
}

.contacts_list li a {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #584A45;
}

.contact_item {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.contact_item > div:nth-child(1) {
    width: 23px;
}

.contact_item > div:nth-child(2) {
    width: calc(100% - 23px);
}

.contact_item > div:nth-child(1) img {
    max-width: 14px;
    max-height: 14px;
    position: relative;
    top: 1px;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    /*display: inline-block;*/
    display: none;
    vertical-align: top;
    width: 35px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 51px;
    right: 40px;
    z-index: 11;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 32px;
    height: 3px;
    background: #8B5347;
    margin: 0 auto 6px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #e9ba5f;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #e9ba5f;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 5px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*--  Responsive Header --*/

.resp_menu {
    width: 100%;
    max-width: 390px;
    height: 100vh;
    padding: 0 10px 0 45px;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 12;
    -webkit-transition-property: right;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: right;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: right;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: right;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: right;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.resp_menu.visible {
    right: 0;
}

.resp_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 11;
    background: rgba(88, 74, 69, 0);
    -webkit-transition-property: background;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.resp_bg.visible {
    background: rgba(88, 74, 69, .8);
    left: 0;
}

.resp_menu_title {
    height: 90px;
    padding-top: 40px;
    position: relative;
}

.logo_resp {
    display: block;
    width: 200px;
}

.logo_resp img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.close_btn {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.resp_menu_title .close_btn {
    position: absolute;
    top: 53px;
    right: 35px;
}

.resp_menu_footer {
    height: 120px;
}

.resp_menu_nav_wrapp {
    height: calc(100vh - 220px);
    padding: 31px 0;
    overflow-y: auto;
}

.main_nav_resp {
    display: block;
}

.main_nav_resp li {
    display: block;
    padding: 16px 0;
    line-height: 1;
}

.main_nav_resp li a {
    display: inline-block;
    vertical-align: top;
}

/*--  /Responsive Header --*/

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 --*/

.promo {
    padding: 73px 0 80px 0;
}

.promo_descript  {
    max-width: 985px;
    margin-bottom: 50px;
    position: relative;
    padding: 39px 0 1px 0;
}

.promo_descript:before  {
    content: "";
    width: 125%;
    height: 100%;
    border: 4px solid #F3E1D8;
    position: absolute;
    top: 0;
    left: -100px;
}

.promo_descript  > div {
    position: relative;
    z-index: 2;
}

.promo_descript h1  {
    padding-bottom: 60px;
}

.promo_descript p  {

}

.promo_descript  .inner {
    max-width: 600px;
}

.brown_pill  {
    display: inline-block;
    vertical-align: top;
    min-width: 430px;
    border: none;
    cursor: pointer;
    padding: 15px 10px 15px 10px;
    background-color: #8B5347;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.promo_descript .brown_pill  {
    margin: 15px 0 10px 0;
    position: relative;
    top: 50px;
}

/*-- /Section 1 --*/

/*-- Section 2 --*/

.sect_2 {
    overflow: hidden;
    position: relative;
}

.article_1_wrapp {
    margin: 88px 0 20px 0;
    position: relative;
}

.article {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}

/*.article .left {
    width: 445px;
}*/

.article .right {
    width: 990px;
    padding-left: 80px;
    /*width: calc(100% - 445px);*/
    /*max-width: 941px;*/
}

.img_box_2 {
    /*width: 646px;*/
    width: calc(50% - 350px);
    height: 812px;
    padding: 0 35px 35px 0;
    position: absolute;
    top: 9px;
    left: 0;
}

.img_bg_2:before {
    content: "";
    width: calc(100% - 80px);
    height: calc(100% - 73px);
    position: absolute;
    top: 35px;
    left: 35px;
    border: 4px solid #fff;
    z-index: 2;
}

.img_bg_2:after {
    content: "";
    width: calc(100% - 45px);
    height: calc(100% - 43px);
    position: absolute;
    top: 35px;
    left: 35px;
    border: 4px solid #F3E1D8;
}

.img_bg_inner_2 {
    height: 778px;
    /*width: 605px;*/
    /*width: calc(100% - 40px);*/
    width: calc(100% - 6px);
    background-position: center;
    background-size: cover;
}

.h2_wrapp {
    max-width: 610px;
    padding-right: 50px;
    position: relative;
}

.h2_wrapp:after {
/*    content: "";
    width: 100vw;
    height: 4px;
    background-color: #F3E1D8;
    margin-top: -4px;
    position: absolute;
    top: 67px;
    left: 100%;*/
}

.h2_wrapp h2 {
    padding-bottom: 13px;
}

.h2_wrapp p {
    padding: 3px 0;
}

.h2_wrapp_descript {
    max-width: 600px;
}

.thumbnail_1 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 23px -15px;
}

.thumb_1 {
    width: calc(50% - 40px);
    margin: 0 20px;
    padding: 42px 0 51px 0;
    position: relative;
}

.thumb_1 .number {
    position: absolute;
    top: 0;
    left: 0;
}

.title_wrapp {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.thumb_1 .title_wrapp h3 {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 29px;
    position: relative;
    font-family: "PF Regal Display Pro";
    font-weight: 500;
    font-size: 34px;
    line-height: 28px;
    color: #584A45;
    z-index: 3;
}

.thumb_1 .title_wrapp:after {
    content: "";
    width: 100%;
    height: 14px;
    background-color: #F3E1D8;
    position: absolute;
    bottom: 24px;
    left: 0;
}

.thumb_1 p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #584A45;
}

/*-- /Section 2 --*/

/*-- Section 3 --*/

.article_2_wrapp {
    margin: 33px 0;
    position: relative;
}

.article_2 {
    min-height: 555px;
}

.h2_wrapp {
    max-width: 100%;    
    position: relative;
}

.h2_wrapp_2_title {
    white-space: nowrap;
}

.h2_wrapp_2_title h2 {
    display: inline-block;
    vertical-align: middle;
    padding-right: 50px;
}

.h2_wrapp_2_title:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 100vw;
    height: 4px;
    background-color: #F3E1D8;
    margin-top: 7px;
}

.article_2 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.article_2 .left {
    /*width: 730px;*/
    max-width: 730px;
    width: 54%;
}

.article_2 .right {
    width: calc(100% - 730px);
}

.h2_wrapp_2 {

}

.items_2 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 53px 0;
}

.item_2 {
    display: flex;
    display: -webkit-flex;
    width: 50%;
    padding: 5px 25px;
}

.item_2 p {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 30px;
    color: #584A45;
}

.item_2 p:before {
    width: 9px;
    height: 9px;
    border: 1px solid #584A45;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 8px;
    left: -25px;
}
/*
.item_2 p:after {
    width: 100%;
    height: 12px;
    content: "";
    position: absolute;
    background-color: #F3E1D8;
    bottom: 8px;
    left: 0;
}*/

.benefits_slider_wrapp {
    width: calc(50% - 90px);
    max-width: 849px;
    position: absolute;
    top: 0;
    right: 0;
}

.white_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -35px;
    background-color: #fff;
}

.benefits_slider_wrapp:before {
    content: "";
    width: calc(100% - 38px);
    height: calc(100% - 51px);
    position: absolute;
    top: 35px;
    left: -5px;
    border: 4px solid #fff;
    z-index: 3;
}

.benefits_slider_wrapp:after {
    content: "";    
    width: calc(100% - 9px);
    height: calc(100% - 16px);
    position: absolute;
    top: 35px;
    left: -35px;
    border: 4px solid #F3E1D8;
    z-index: 1;
}

.benefits_slider {  
    position: relative;
    z-index: 2;
    /*background-color: #fff;*/
}

.benefits_slider .slide {

}

.benefits_slider .slide .img_box {
    height: 520px;
    background-size: cover;
    background-position: center;
}

.benefits_slider_controls {
    text-align: left;
    width: 100%;
    position: absolute;
    bottom: 28px;
    left: -13px;
    z-index: 4;
}

.benefits_slider_arrows {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 28px;
    left: -13px;
    z-index: 4;
}

/*-- /Section 3 --*/

/*-- Section 4 --*/

.sect_4 {
    padding: 95px 0 92px 0;
}

.h2_wrapp_center {
    max-width: 755px;
    margin: 0 auto;
    text-align: center;
}

.h2_wrapp_center h2 {
    padding: 12px 0;
}

.h2_wrapp_center p {
    padding: 12px 0;
}

.thumbnails_2_wrapp {
    margin-bottom: 43px;
    padding-bottom: 10px;
    border-bottom: 4px solid #F1EEE8;
}

.thumbnails_2 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 29px -10px 0 -10px;
}

.thumb_2 {
    height: 367px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.thumbnails_2 .slide {
    margin: 10px;
}

.thumbnails_2 .slide:nth-child(1) {
    width: calc(33.33% - 20px);
}

.thumbnails_2 .slide:nth-child(2) {
    width: calc(33.33% - 20px);
}

.thumbnails_2 .slide:nth-child(3) {
    width: calc(33.33% - 20px);
}

.thumbnails_2 .slide {
    width: calc(50% - 20px);
}

.thumb_2 img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_2:before {
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(180deg, rgba(88, 74, 69, .75) 20.31%, rgba(88, 74, 69, 0) 82.81%);
    background: linear-gradient(180deg, rgba(88, 74, 69, .75) 20.31%, rgba(88, 74, 69, 0) 82.81%);
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 3;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -webkit-transition-property: top;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: top;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_2:hover:before {
    top: 0;
}

.thumb_2 .descript {
    width: 100%;
    padding: 10px 30px 17px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.thumb_2_title {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: baseline;
    -webkit-align-items: baseline;
    margin: 0 -7px;    
    padding-bottom: 16px;
}

.thumb_2_title > div {
    padding: 0 7px;
}

.thumb_2_title h3 {
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.thumb_2_title p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.thumb_2_text {
    display: none;
}

.thumb_2_text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

/*-- /Section 4 --*/

/*-- Section 5 --*/

.sect_5 {
    padding: 152px 0 74px 0;
}

.grey_bg {
    background-color: #F6F4F2;
}

.h2_wrapp_2_title {
    white-space: nowrap;
}

.h2_wrapp_2_title > div {
    display: inline-block;
    vertical-align: top;
}

.h2_wrapp_2_title h2 {
    display: inline-block;
    vertical-align: middle;
    padding-right: 50px;
}

.h2_wrapp_2_title:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 100vw;
    height: 4px;
    background-color: #F3E1D8;
    margin-top: 64px;
}

.h2_wrapp_2_title.white:after {
    background-color: #fff;
}

.reviews_title {
    display: flex;
    display: -webkit-flex;
    margin: 35px -14px 25px -14px;
}

.reviews_title > div {
    padding: 0 14px;
}

.logo_2_wrapp {
    display: flex;
    display: -webkit-flex;
    position: relative;
    overflow: hidden;
    padding: 5px 0;
}

.logo_2 {
    width: 145px;
    margin-right: 20px;
}

.logo_2_wrapp p {
    padding-top: 6px;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    color: #584A45;
}

.logo_2_wrapp * {
    position: relative;
    z-index: 2;
}

.logo_2_wrapp:before {
    content: "";
    width: 100%;
    height: 14px;
    background-color: #fff;
    position: absolute;
    bottom: 2px;
    left: 0;
}

.icon_p {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.reviews_title .icon_p {
    padding-top: 14px;
}

.icon_p i {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.mark_icon {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 17px;
    background-image: url(img/map_mark_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon_p p {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #988781;
}

.inline_2 {
    display: flex;
    display: -webkit-flex;
    margin: 0 -10px;
}

.inline_2 > div {
    padding: 0 10px;
}

.count_rep {
    font-weight: normal;
    font-size: 54px;
    line-height: 65px;
    color: #584A45;
}

.stars {
    display: flex;
    display: -webkit-flex;    
}

.inline_2 .stars {
    margin-top: 21px;
}

.stars li {
    padding: 0 2px;
}

.stars li img {
    width: 27px;
    height: 27px;
}

.link_1 {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #988781;
    border-bottom: 1px solid #988781;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top;
    -o-transition-duration: border;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link_1:link,
.link_1:visited {
    border-bottom: 1px solid #988781;
}

.link_1:active,
.link_1.active {
    border-bottom: 1px solid transparent;
}

.link_1:hover {
    border-bottom: 1px solid transparent;
}

.inline_2 .link_1 {
    margin-top: 32px;
}

.testimonial_slider {
    margin: 20px -10px;
}

.testimonial_slider .slide {
    padding: 10px;
}

.testimonial {
    position: relative;
    background: #FFFFFF;
    border: 1px solid transparent;    
    padding: 28px 20px 5px 20px;
    margin-bottom: 60px;
}

.testimonial:hover {
    border: 1px solid #F3E1D8;
}

.testimonial_title {
    display: flex;
    display: -webkit-flex;
    padding: 2px 0;
}

.testimonial_title > div:nth-child(1) {
    width: 80px;
}

.testimonial_title > div:nth-child(2) {
    width: calc(100% - 80px);
}

.testimonial_title .img_box {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.testimonial_title .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.testimonial_title h3 {
    padding-bottom: 2px;
    font-family: "Acumin Pro";
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2D2D2D;
}

.stars_2 {
    display: flex;
    display: -webkit-flex;
    margin: 3px -3px;
}

.stars_2 li {
    padding: 0 3px;
}

.stars_2 li img {
    display: block;
    width: 16px;
}

.testimonial_descript {
    padding: 28px 0 15px 0;
}

.testimonial_descript p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
}

.link_wrapp {
    background-color: #fff;
    height: 0;
    overflow: hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: height, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: height, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: height, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: height, border;
    -o-transition-duration: border;
    -o-transition-timing-function: ease;

    transition-property: height, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.testimonial .link_wrapp {
    width: calc(100% + 2px);
    padding: 10px 30px 0 30px;
    position: absolute;
    top: calc(100% - 6px);
    left: -1px;
}

.testimonial:hover .link_wrapp {
    height: 48px;
    border-left: 1px solid #F3E1D8;
    border-right: 1px solid #F3E1D8;
    border-bottom: 1px solid #F3E1D8;
}

.link_wrapp p {
    text-align: right;
}

.link_wrapp p a {
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid rgba(88, 74, 69, .35);
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: rgba(88, 74, 69, .35);
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top;
    -o-transition-duration: border;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link_wrapp p a:link,
.link_wrapp p a:visited {
    border-bottom: 1px solid rgba(88, 74, 69, .35);
}

.link_wrapp p a:active,
.link_wrapp p a.active {
    border-bottom: 1px solid transparent;
}

.link_wrapp p a:hover {
    border-bottom: 1px solid transparent;
}

/*-- /Section 5 --*/

/*-- Section 6 --*/

.sect_6 {
    padding: 156px 0 145px 0;
}

.cherry_bg {
    background-color: #8B5347;
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(img/sect_6_bg.png);
}

.h2_wrapp_3 {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.h2_wrapp_3 > div {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    position: relative;
}

.h2_wrapp_3 h2 {
    padding: 0 40px;
    position: relative;
    font-weight: 500;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    color: #FFFFFF;
}

.h2_wrapp_3 > div:before {
    display: block;
    content: "";
    width: 100vw;
    height: 4px;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: 10px;
}

.h2_wrapp_3 > div:after {
    display: block;
    content: "";
    width: 100vw;
    height: 4px;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: 10px;
}

.h2_wrapp_3 p {
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.prices_thumbnails {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 45px -10px;
}

.prices_thumbnails .slide {
    display: flex;
    width: calc(20% - 20px);
    margin: 10px;
}

.price_thumb {
    width: 100%;
    padding: 49px 34px 40px 34px;
    background-color: #D7C3B7;
    text-align: center;
}

.price_thumb_title h4 {
    padding: 4px 0;
    font-family: "Acumin Pro";
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: rgba(88, 74, 69, .5);
}

.price_thumb_title h3 {
    padding: 4px 0;
    font-family: "Acumin Pro";
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #584A45;
}

.price_val_wrapp {
    padding: 24px 0 21px 0;
}

.price_val_wrapp p {
    padding: 5px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: rgba(88, 74, 69, .5);
}

.price_val_wrapp p.price_val {
    padding: 5px 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: #584A45;
}

.thumb_two_cols {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.thumb_two_cols > div {
    padding: 1px 8px;
}

.thumb_two_cols p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #584A45;
}

.price_thumb_footer {
    padding: 5px 0;
}

.price_thumb_footer p {
    padding: 5px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: rgba(88, 74, 69, .5);
}

.brown_pill_2 {
    min-width: 100% !important;
    padding: 13px 10px 11px 10px !important;
    font-size: 18px !important;
    line-height: 22px !important;
}

.price_thumb_big {
    height: 100%;
    width: 100%;
    background-color: #EDE4DF;
    padding: 52px 34px 40px 34px;
    text-align: center;
}

.prices_thumbnails .slide_big {
    width: calc(40% - 20px);
}

.price_thumb_big_title {
    padding: 0 0 28px 0;
    border-bottom: 1px solid #584A45; 
    text-align: left;
}

.price_thumb_big_title > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.price_thumb_big_title h3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-weight: 500;
    font-size: 34px;
    line-height: 28px;
    color: #584A45;
    position: relative;
    z-index: 2;
}

.price_thumb_big_title > div:before {
    width: 100%;
    height: 14px;
    background-color: #fff;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
}

.thumb_table {
    padding: 37px 0 20px 0;
}

.thumb_table .table_row {
    display: flex;
    display: -webkit-flex;
    padding: 5px 0;
}

.thumb_table .table_row .cell:nth-child(1) {
    width: 60%;
    text-align: left;
}

.thumb_table .table_row .cell:nth-child(2) {
    width: 40%;
    text-align: right;
}

.thumb_table p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #584A45;
}

.table_header p {
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: rgba(88, 74, 69, .5);
}

.main_price {
    padding-bottom: 19px;
}

.main_price p {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #584A45;
}

.thumb_table .table_row.main_price .cell:nth-child(1) {
    padding-top: 11px;
}

p.main_price_val {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: #584A45;
    position: relative;
}

p.main_price_val:before {
    content: "";
    width: 100%;
    height: 14px;
    background: rgba(255, 255, 255, .72);
    position: absolute;
    bottom: 11px;
    left: 0;
}

p.main_price_val span {
    position: relative;
    z-index: 2;
}

.price_thumb_big_footer .brown_pill {
    min-width: 280px !important;
    font-size: 24px !important;
}

.tags_wrapp {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
}

.tags_wrapp .inner {
    max-width: 875px;
    position: relative;
}

.tags_wrapp .inner:before {
    display: block;
    content: "";
    width: 100vw;
    height: 4px;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
}

.tags_wrapp .inner:after {
    display: block;
    content: "";
    width: 100vw;
    height: 4px;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
}

.tags {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.tags li {
    position: relative;
    padding: 10px 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.tags li:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid #D7C2B7;
    position: absolute;
    top: 13px;
    right: 0;
    margin-right: -4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.tags li:last-child:after {
    display: none;
}

/*-- /Section 6 --*/

/*-- Section 7 --*/

.contacts_article {
    position: relative;
    margin: 143px 0 213px 0;
}

.img_box_2_2 {
    width: calc(50% - 114px);
    height: 100%;
    position: absolute;
    top: 0 !important;
    left: 0; 
}

.img_bg_2_2:before {
    height: calc(100% - 33px);
}

.img_bg_2_2:after {
    height: calc(100% - 1px);
}

.img_bg_inner_2_2 {
    height: 730px;
}

.contacts_wrapp {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.contacts_wrapp .right {
    width: 50%;
    padding: 11px 0 25px 0;
}

.title_wrapp_2 {
    margin-bottom: 50px;
}

.title_wrapp_2 h2 {
    padding: 25px 0;
    font-weight: 500;
    font-size: 59px;
    line-height: 71px;
    color: #584A45;
}

.title_wrapp_2 p {
    padding: 13px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #584A45;
}

.form_wrapp {
    max-width: 445px;
}

.input_wrapp {
    margin: 25px 0;
}

.input_wrapp input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 15px;    
    border: none;
    border-bottom: 4px solid #F3E1D8;
    font-family: "Acumin Pro";
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #584A45;
}

.submit_wrapp .brown_pill_3 {
    margin: 15px 0;
    min-width: 100%;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

/*-- /Section 7 --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}

.footer_section {
    background-color: #392D28;
    padding: 26px 0 58px 0;
}

.footer_title {
    padding: 10px 0;
}

.footer_title h2 {
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #fff;
}

.footer_title h2:before {
    display: block;
    content: "";
    width: 100%;
    height: 14px;
    background-color: #4F4440;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.footer_title h2 span {
    position: relative;
    z-index: 2;
}

.footer_4_cols {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -10px;
}

.footer_4_cols > div {
    padding: 0 10px;
}

.footer_4_cols > div:nth-child(1) {
    width: 30%;
}

.footer_4_cols > div:nth-child(2) {
    width: 18%;
}

.footer_4_cols > div:nth-child(3) {
    width: 41%;
}

.footer_4_cols > div:nth-child(4) {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 11%;
}

.contacts_list_white li,
.contacts_list_white li a {
    color: #fff;
}

.socials_list {
    display: flex;
    display: -webkit-flex;
    margin: 8px 0;
}

.socials_list li {
    padding: 11px;
}

.socials_list li a {
    display: block;
    width: 31px;
    height: 31px;
}

.socials_list li a img {
    display: block;
    width: auto;
    max-width: 100%;
}

.info_box {
    padding: 16px 0;
}

.info_box p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.info_box p span {
    color: #838383;
}

.logo_footer_wrapp {
    display: flex;
    display: -webkit-flex;
    width: 155px;
    margin-top: 22px;
}

.logo_footer_wrapp > div:nth-child(1) {
    width: 60px;
    padding-top: 27px;
}

.logo_footer_wrapp > div:nth-child(2) {
    width: 95px;
}

.logo_footer_wrapp p {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}